
.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .wrapper-book {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: initial;
    margin-left: 50px;
    margin-top: 60px;

  }
  
  .form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  h1 {
    text-align: center;
    width: 100%;
    color: #111;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  button {
    font-family: 'sans-serif';
    font-weight: bold;
    color: #EEE;
    border: 0;
    text-align: center;
    margin: 20px;
    margin-left: 50px;
    font-size: 15px;
    padding: 14px 10px;
    width: 220px;
    border-radius: 24px;
    background: #0E0139; 
    transition: 0.25s;
  }
  
  label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }
  
  input.error {
    border: 1px solid red;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }
  
  .firstName {
    margin-right: 1%;
  }
  
  .lastName {
    margin-left: 1%;
  }
  
  .firstName,
  .lastName {
    width: 49%;
  }
  
  .username,
  .firstName,
  .lastName,
  .email,
  .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  
  .email,
  .username,
  .password {
    width: 100%;
  }
  
  .createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .createAccount button {
    background-color:#0E0139 ;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
  
  .createAccount button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid#494CC1;
  }
  
  .createAccount small {
    color: #999;
    font-weight: lighter;
  }




  .titulo,
  .autor,
  .assunto,
  .ano,
  .idioma,
  .quantidade {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 49%;
  }
  .titulo {
    margin-right: 1%;
  }
  
  .autor {
    margin-left: 1%;
  }
  .assunto {
    margin-right: 1%;
  }
  
  .ano {
    margin-left: 1%;
  }
  
  .idioma {
    margin-right: 1%;
  }
  
  .quantidade {
    margin-left: 1%;
  }
  
  .AddBook {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .AddBook button {
    background-color:#0E0139 ;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
  
  .AddBook button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid#494CC1;
  }

  .search-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .search-box input {
    width: 300px;
  }